.DS_Store
.npm/
.vscode/**/*
!.vscode/settings.json
.idea
.server
node_modules
npm-debug.log
coverage
.cache
.eslintcache
test/contract/tmp/
test/contract/logs/*
!test/contract/logs/.gitkeep
*.crt
*.csr
*.key
*.srl
.env*
!.env.example
