openapi: 3.1.0
info:
  title: Person API
  description: API for person-related operations
  version: '1.0.0'
  license:
    name: 'Open Government Licence v3.0'
    url: 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3'
tags:
  - name: person
    description: 'Operations related to person management'
security:
  - mTLS: []
servers:
  - url: 'https://chs-upgrade-api.ruraldev.org.uk:8446/extapi'
    description: The test server for KITS/V1 APIs
paths:
  /person/{personId}/summary:
    get:
      tags:
        - 'person'
      summary: 'Find By Person ID'
      description: 'Request to get details for a person with a specified ID.'
      operationId: 'getPersonSummaryById'
      parameters:
        - name: 'personId'
          in: 'path'
          description: 'The unique ID of the requested person.'
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
            examples: [11111111, 11112222, 22222222]
      responses:
        '200':
          description: 'Returns the person details for the specified ID.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  _data:
                    $ref: '#/components/schemas/FullPersonDetails'
                required:
                  - '_data'
                additionalProperties: false
        '403':
          description: Getting an internal user's details is forbidden, or a WAF rule has been triggered.
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 'Person not found'
          $ref: '#/components/responses/NotFound'
  /person/search:
    post:
      tags:
        - 'person'
      summary: 'Search for a person'
      description: >
        Search for a person by CRN, personal identifier, customer name, customer postcode, vendor number, or trader number.
      operationId: 'searchPerson'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestBody'
      responses:
        '200':
          description: 'Successfully returns list of customer summary. Returns result inside a CapdPageResponse'
          content:
            application/json:
              schema:
                type: object
                properties:
                  _data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PersonSearchResponse'
                  _page:
                    $ref: '#/components/schemas/Page'
                required:
                  - '_data'
                  - '_page'
                additionalProperties: false
        '400':
          description: >
            The `primarySearchPhrase` is shorter than the minimum length for the selected `searchFieldType`, or the `searchFieldType` is not recognised.
          $ref: '#/components/responses/BadRequest'
        '500':
          description: 'Internal server error, or only `searchFieldType` was provided.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: >
                      There was an error processing your request. It has been logged (ID 704b9f3b19536a35).
  /person/{personId}:
    put:
      tags:
        - 'person'
      summary: 'Update Person Details.'
      description: 'Request to update a person with the specified details.'
      operationId: 'updatePersonDetails'
      parameters:
        - name: 'personId'
          in: 'path'
          description: 'The unique ID of the requested person.'
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
            examples: [11111111, 11112222, 22222222]
        - name: 'email'
          in: 'header'
          description: 'Email'
          schema:
            type: string
            format: email
      requestBody:
        description: 'Person data to update'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalUpdateRequest'
      responses:
        '204':
          description: 'Successfully updated person details.'
        '403':
          description: Getting an internal user's details is forbidden, or a WAF rule has been triggered.
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 'Person not found'
          $ref: '#/components/responses/NotFound'
        '422':
          description: 'Required fields are missing'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 422
                  message:
                    type: string
                    example: 'HTTP 422'
        '400':
          description: 'Invalid JSON, or valid JSON that does not match the body schema'
          $ref: '#/components/responses/BadRequest'
        '500':
          description: 'Internal server error (e.g. the upstream fails to process the request).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: 'There was an error processing your request.'

components:
  responses:
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 404
              message:
                type: string
                example: HTTP 404 Not Found
    Forbidden:
      description: Forbidden
      content:
        text/html:
          schema:
            type: string
            example: |
              <html><body><h1>403 Forbidden</h1>
              Request forbidden by administrative rules.
              </body></html>
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              message:
                type: string
                examples:
                  - 'HTTP 400 Bad Request'
                  - 'Unable to process JSON'
        text/plain:
          schema:
            type: string
            example: source cannot be null
        text/html:
          schema:
            type: string
            example: |
              <html><body><h1>400 Bad request</h1>
              Your browser sent an invalid request.
              </body></html>
  schemas:
    # request objects
    SearchRequestBody:
      type: object
      description: >
        Search for a person by one of the options. The required length of `primarySearchPhrase` depends on the chosen `searchFieldType`:
          - `CUSTOMER_REFERENCE` - the full 10-digit CRN; returns 0 or 1 results.
          - `PERSONAL_IDENTIFIER` - the full personal identifier, at least 9 characters; returns 0 or 1 results.
          - `CUSTOMER_NAME` - partial first and/or last name (non-empty); returns 0 or more results.
          - `CUSTOMER_POSTCODE` - full customer postcode, at least 5 characters; returns 0 or more results.
          - `VENDOR_NUMBER` - at least the first 6 characters of the vendor number; returns 0 or more results.
          - `TRADER_NUMBER` - at least the first 6 characters of the trader number; returns 0 or more results.
      oneOf:
        - title: 'Search by CRN'
          properties:
            searchFieldType:
              type: string
              enum:
                - 'CUSTOMER_REFERENCE'
            primarySearchPhrase:
              oneOf:
                - type: string
                  minLength: 10
                - type: integer
                  format: int64
                  minimum: 1000000000
          required:
            - 'searchFieldType'
            - 'primarySearchPhrase'
        - title: 'Search by personal identifier'
          properties:
            searchFieldType:
              type: string
              enum:
                - 'PERSONAL_IDENTIFIER'
            primarySearchPhrase:
              oneOf:
                - type: string
                  minLength: 9
                - type: integer
                  format: int64
                  minimum: 100000000
          required:
            - 'searchFieldType'
            - 'primarySearchPhrase'
        - title: 'Search by customer name'
          properties:
            searchFieldType:
              type: string
              enum:
                - 'CUSTOMER_NAME'
            primarySearchPhrase:
              type: [string, number, boolean]
              minLength: 1
          required:
            - 'searchFieldType'
            - 'primarySearchPhrase'
        - title: 'Search by customer postcode'
          properties:
            searchFieldType:
              type: string
              enum:
                - 'CUSTOMER_POSTCODE'
            primarySearchPhrase:
              oneOf:
                - type: string
                  minLength: 5
                - type: integer
                  minimum: 10000
          required:
            - 'searchFieldType'
            - 'primarySearchPhrase'
        - title: 'Search by vendor number'
          properties:
            searchFieldType:
              type: string
              enum:
                - 'VENDOR_NUMBER'
            primarySearchPhrase:
              oneOf:
                - type: string
                  minLength: 6
                - type: integer
                  minimum: 100000
          required:
            - 'searchFieldType'
            - 'primarySearchPhrase'
        - title: 'Search by trader number'
          properties:
            searchFieldType:
              type: string
              enum:
                - 'TRADER_NUMBER'
            primarySearchPhrase:
              oneOf:
                - type: string
                  minLength: 6
                - type: integer
                  minimum: 100000
          required:
            - 'searchFieldType'
            - 'primarySearchPhrase'
      examples:
        - searchFieldType: 'CUSTOMER_REFERENCE'
          primarySearchPhrase: '1111111100'
        - searchFieldType: 'PERSONAL_IDENTIFIER'
          primarySearchPhrase: '116172867'
        - searchFieldType: 'CUSTOMER_NAME'
          primarySearchPhrase: 'Smith'
        - searchFieldType: 'CUSTOMER_POSTCODE'
          primarySearchPhrase: 'AB12 3CD'
        - searchFieldType: 'VENDOR_NUMBER'
          primarySearchPhrase: '123456'
        - searchFieldType: 'TRADER_NUMBER'
          primarySearchPhrase: '654321'
    PersonalUpdateRequest:
      type: 'object'
      properties:
        title:
          oneOf:
            - type: string
              maxLength: 20
            - type: integer
              format: int64
              minimum: -9007199254740991
              maximum: 9007199254740991
            - type: boolean
            - type: 'null'
          description: 'Title of the person (e.g., Mr, Mrs)'
        otherTitle:
          oneOf:
            - type: string
              maxLength: 100
            - type: number
            - type: boolean
            - type: 'null'
          description: 'Alternative or additional title'
        firstName:
          oneOf:
            - type: string
              minLength: 1
              maxLength: 100
            - type: number
            - type: boolean
          description: 'First name of the person'
        middleName:
          oneOf:
            - type: string
              maxLength: 100
            - type: number
            - type: boolean
            - type: 'null'
          description: 'Middle name of the person'
        lastName:
          oneOf:
            - type: string
              minLength: 1
              maxLength: 100
            - type: number
            - type: boolean
          description: 'Last name of the person'
        dateOfBirth:
          description: 'Date of birth as a Unix timestamp'
          oneOf:
            - type: integer
              format: int64
              minimum: -999999999999999
              maximum: 9999999999999
            - type: string
              pattern: '^(-[0-9]{1,15}$|^[0-9]{1,13})?$'
            - type: 'null'
        landline:
          oneOf:
            - type: string
              pattern: '^((\+| *)([0-9] *){5,})?$'
            - type: 'null'
          description: 'Landline phone number'
        mobile:
          oneOf:
            - type: string
              pattern: '^((\+| *)([0-9] *){5,})?$'
            - type: 'null'
          description: 'Mobile phone number'
        email:
          oneOf:
            - type: string
              pattern: '^([A-Za-z0-9+_-]+(\.[A-Za-z0-9+_-]+)*@([A-Za-z]([A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z]{2,})?$'
            - type: 'null'
          description: 'Email address'
        address:
          oneOf:
            - type: object
              properties:
                address1:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                address2:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                address3:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                address4:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                address5:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                pafOrganisationName:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                flatName:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                buildingNumberRange:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                buildingName:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                street:
                  oneOf: [{ type: string, maxLength: 240 }, { type: 'null' }]
                city:
                  oneOf: [{ type: string, maxLength: 60 }, { type: 'null' }]
                county:
                  oneOf: [{ type: string, maxLength: 60 }, { type: 'null' }]
                postalCode:
                  oneOf: [{ type: string, maxLength: 8 }, { type: 'null' }]
                country:
                  oneOf: [{ type: string, maxLength: 100 }, { type: 'null' }]
                uprn:
                  oneOf: [{ type: string, maxLength: 12 }, { type: 'null' }]
            - type: 'null'
      required:
        - firstName
        - lastName

    # response objects
    PersonSearchResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
        fullName:
          type: string
        primaryAddress:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
        personalIdentifiers:
          type: array
          items:
            type: string
        nationalInsuranceNumber:
          type: [string, 'null']
        customerReference:
          type: string
        email:
          type: [string, 'null']
        locked:
          type: boolean
        deactivated:
          type: boolean
      required:
        - 'id'
        - 'fullName'
        - 'primaryAddress'
        - 'personalIdentifiers'
        - 'nationalInsuranceNumber'
        - 'customerReference'
        - 'email'
        - 'locked'
        - 'deactivated'
    Page:
      type: object
      properties:
        number:
          type: integer
          format: 'int32'
        size:
          type: integer
          format: 'int32'
        totalPages:
          type: integer
          format: 'int32'
        numberOfElements:
          type: integer
          format: 'int32'
        totalElements:
          type: integer
          format: 'int64'
    Address:
      type: object
      additionalProperties: false
      properties:
        address1:
          type: [string, 'null']
        address2:
          type: [string, 'null']
        address3:
          type: [string, 'null']
        address4:
          type: [string, 'null']
        address5:
          type: [string, 'null']
        pafOrganisationName:
          type: [string, 'null']
        flatName:
          type: [string, 'null']
        buildingNumberRange:
          type: [string, 'null']
        buildingName:
          type: [string, 'null']
        street:
          type: [string, 'null']
        city:
          type: [string, 'null']
        county:
          type: [string, 'null']
        postalCode:
          type: [string, 'null']
        country:
          type: [string, 'null']
        uprn:
          type: [string, 'null']
        dependentLocality:
          type: [string, 'null']
        doubleDependentLocality:
          type: [string, 'null']
        addressTypeId:
          type: [string, 'null']
      required:
        - 'address1'
        - 'address2'
        - 'address3'
        - 'address4'
        - 'address5'
        - 'addressTypeId'
        - 'buildingName'
        - 'buildingNumberRange'
        - 'city'
        - 'country'
        - 'county'
        - 'dependentLocality'
        - 'doubleDependentLocality'
        - 'flatName'
        - 'pafOrganisationName'
        - 'postalCode'
        - 'street'
        - 'uprn'

    FullPersonDetails:
      type: object
      additionalProperties: false
      properties:
        title:
          type: [string, 'null']
        otherTitle:
          type: [string, 'null']
        firstName:
          type: string
        middleName:
          type: [string, 'null']
        lastName:
          type: string
        dateOfBirth:
          type: [integer, 'null']
        landline:
          type: [string, 'null']
        mobile:
          type: [string, 'null']
        email:
          type: [string, 'null']
        doNotContact:
          type: boolean
        emailValidated:
          type: boolean
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
        locked:
          type: boolean
        id:
          type: integer
        confirmed:
          type: boolean
        customerReferenceNumber:
          type: string
        personalIdentifiers:
          type: array
          items:
            type: string
        deactivated:
          type: boolean
      required:
        - 'title'
        - 'otherTitle'
        - 'firstName'
        - 'middleName'
        - 'lastName'
        - 'dateOfBirth'
        - 'landline'
        - 'mobile'
        - 'email'
        - 'doNotContact'
        - 'emailValidated'
        - 'address'
        - 'locked'
        - 'id'
        - 'confirmed'
        - 'customerReferenceNumber'
        - 'personalIdentifiers'
        - 'deactivated'

  securitySchemes:
    mTLS:
      type: mutualTLS
      description: >
        Mutual TLS authentication. Client must present a certificate issued by the server.
